.icon-button {
  background-color: #ffffff;
  /* 
  pure white for the icon background color, 
  for a contrast indicating this is a button
  */

  border: 2px solid #ccc;
  /*
  Solid Silver for the border of the button
  */

  height: clamp(60px, 15vw, 120px);
  padding: clamp(6px, 1.5vw, 12px);
  cursor: pointer;
  /* 
  make the icon smaller 
  with some "buffer" from the paddings
  */

  border-radius: 8px;
  /* Make the border looks less "sharp" */

  transition: transform 0.2s ease, border-radius 0.2s ease;
  /* Enable smooth transition */
}

.big-button .icon-button {
  height: clamp(120px, 30vw, 240px);
  padding: clamp(12px, 3vw, 24px);
}

.icon-button:hover {
  transform: scale(1.1);
  /*Scale the icon upon hover */
}

.linkButton {
  background-color: #ffffff;
  /* 
  pure white for the icon background color, 
  for a contrast indicating this is a button
  */

  border: 2px solid #ccc;
  /*
  Solid Silver for the border of the button
  */

  height: 40px;
  cursor: pointer;

  height: clamp(20px, 5vw, 40px);
  padding: clamp(2px, 0.5vw, 4px);
  /* 
  make the icon smaller 
  with some "buffer" from the paddings
  */

  border-radius: 8px;
  font-weight: normal;
  /* Make the border looks less "sharp" */

  transition: transform 0.2s ease, border-radius 0.2s ease;
  /* Enable smooth transition */
}

.linkButton:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: purple;
}
